{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block signin_active %}active{% endblock %}
{% block show_signup %}inline-block{% endblock %}
{% block show_signin %}inline-block{% endblock %}

{% block includes %}
    <script src="{{url_for('static', filename='js/lib/parsley.js')}}"></script>
{% endblock %}

{% block body %}

    <div class="container">
        <h3 class="offset4">Login</h3>
            <form data-validate="parsley" action="{{ url_for_security('login') }}" method="POST" class="offset2 form-horizontal" name="login_user_form" id="login_user_form">
            {{ login_user_form.hidden_tag() }}
            <div id="login-form">    
                <div class="control-group">
                    <label class="control-label" for="email"> Email Address </label>
                    <div class="controls"> {{ login_user_form.email(**{'data-required':'true', 'data-type':'email', 'data-error-message':'Enter a valid email id', 'data-error-container':'#emailContainer', 'data-trigger':'blur', 'data-validation-minlength':'1'}) }}
                        <ul id="emailContainer" class="errors parsleyError">
                        {% if login_user_form.email.errors %}
                            {% for error in login_user_form.email.errors %}<li>{{ error }}</li>{% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password"> Password </label>   
                    <div class="controls input">  {{ login_user_form.password(**{'data-required':'true', 'data-error-message':'Enter password', 'data-error-container': '#passContainer', 'data-trigger':'blur'}) }}
                        <ul id="passContainer" class="errors parsleyError">
                        {% if login_user_form.password.errors %}
                            {% for error in login_user_form.password.errors %}<li>{{ error }}</li>{% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls"><button class="btn" type="submit">Sign In</button></div>
                </div>
            </div>
        </form>
    </div>


    <script>
        $(document).ready(function() {
            $("#email").focus();
            $("#login_user_form").parsley({
                errors: {
                    errorsWrapper: "<li></li>",
                    errorElem: "<span></span>"
                }
                , listeners : {
                    onFieldError: function (elem, constraints, ParsleyField) {
                        $(elem).addClass('parseError');
                    },
                    onFieldSuccess: function (elem, constraints, ParsleyField) {
                        $(elem).removeClass('parseError');
                    }                    
                }
            });
        });
    </script>
{% endblock%}  
