{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block signup_active %}active{% endblock %}
{% block show_signup %}inline-block{% endblock %}
{% block show_signin %}inline-block{% endblock %}

{% block includes %}
    <script src="{{url_for('static', filename='js/lib/parsley.extend.js')}}"></script>
    <script src="{{url_for('static', filename='js/lib/parsley.js')}}"></script>
    <script src="{{url_for('static', filename='js/lib/pstrength.min.js')}}"></script>
{% endblock %}
{% block body %}

        
    <div class="container">
        <h3 class="offset4">Register</h3>
        <form data-validate="parsley" action="{{ url_for_security('register') }}" method="POST" class="offset2 form-horizontal" name="register_user_form" id="register_user_form">
            {{ register_user_form.hidden_tag() }}
            <div id="basic-details">    
                <div class="control-group">
                    <label class="control-label" for="first_name">First Name</label>
                    <div class="controls">    {{ register_user_form.first_name(**{'data-required':'true', 'data-trigger':'blur keyup', 'data-error-message':'Enter your first name', 'data-error-container': '#fnameContainer', 'data-validation-minlength':'1'}) }}
                    <ul id="fnameContainer" class="parsleyError"></ul>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="last_name">Last Name</label>
                    <div class="controls">    {{ register_user_form.last_name(**{'data-required':'true', 'data-trigger':'blur keyup', 'data-error-message':'Enter your last name', 'data-error-container': '#lnameContainer', 'data-validation-minlength':'1'}) }}
                    <ul id="lnameContainer" class="parsleyError"></ul>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="organization"> Organization </label>   
                    <div class="controls">  {{ register_user_form.organization(**{'data-required':'true', 'data-trigger':'blur keyup', 'data-error-message':'Enter your Organization\'s Name', 'data-error-container': '#orgContainer', 'data-validation-minlength':'1'}) }}
                    <ul id="orgContainer" class="parsleyError"></ul>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email"> Email </label>
                    <div class="controls"> {{ register_user_form.email(**{'data-required':'true','data-type':'email', 'data-trigger':'change', 'data-validation-minlength':'1', 'data-error-container': '#emailContainer', 'data-error-message':'Enter a valid email id'}) }}
                    <ul id="emailContainer" class="errors parsleyError">
                    {% if register_user_form.email.errors %}
                        {% for error in register_user_form.email.errors %}<li>{{ error }}</li>{% endfor %}
                    {% endif %}
                    </ul>
                    </div>
                </div>
               <div class="control-group">
                    <label class="control-label" for="password"> Password </label>   
                    <div class="controls input">  {{ register_user_form.password(**{'id':'password'}) }}</div>
                </div>
                {% if register_user_form.password_confirm %}
                <div class="control-group">
                    <label class="control-label" for="confirm_password"> Confirm Password  </label>
                    <div class="controls">  {{ register_user_form.password_confirm(**{'data-required':'true', 'data-trigger':'blur keyup', 'data-validation-minlength':'1', 'data-equalto':'#password', 'data-minlength':'6', 'data-minlength-message':'Password should be more than 6 characters', 'data-error-container': '#passContainer', 'data-equalto-message':'Passwords do not match'}) }}
                    <ul id="passContainer" class="parsleyError"></ul>
                    </div>
                </div>
                {% endif %}
                <div class="control-group">
                    {{ register_user_form.recaptcha() }}
                    <ul id="#capContainer" class="errors parsleyError">
                    {% if register_user_form.recaptcha.errors %}
                        {% for error in register_user_form.recaptcha.errors %}<li>{{ error }}</li>{% endfor %}
                    {% endif %} 
                    </ul>
                </div>
                
                <div class="control-group">
                    <div class="controls"><button class="btn" type="submit">Create Account</button></div>
                </div>
            </div>
            
       </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#password').passStrengthify({minimum:6});
            $('#email').off( 'keyup' );
            $("#first_name").focus();
            $("#register_user_form").parsley({
                errors: {
                    errorsWrapper: "<li></li>",
                    errorElem: "<span></span>"
                }
                , listeners : {
                    onFieldError: function (elem, constraints, ParsleyField) {
                        $(elem).addClass('parseError');
                    },
                    onFieldSuccess: function (elem, constraints, ParsleyField) {
                        $(elem).removeClass('parseError');
                    }                    
                }
            });
        });
    </script>
{% endblock%}  
